<h3>Add a new comment</h3>
  <form>
    <div class="form-group">
      <label for="userName">User Name</label>
      {{input value=userName id="userName"}}
    </div>
    <div class="form-group">
      <label for="commentDate">Date</label>
      {{input value=commentDate id="commentDate"}}
    </div>
    <div class="form-group">
      <label for="commentText">Content</label>
      {{input value=commentText id="commentText"}}
    </div>
    <div class="form-group">
      <label for="postTitle">Post</label>
      {{input value=postTitle id="postTitle" placeholder=post.title}}
    </div>
    <button {{action 'saveComment'}}>Save</button>
  </form>
