{{#if addNewAuthor}}
  <h1>New Author</h1>
  <form>
    <div class="form-group">
      <label for="fullName">Full Name</label>
      {{input value=fullName id="fullName"}}
    </div>
    <div class="form-group">
      <label for="positionTitle">Position Title</label>
      {{input value=positionTitle id="positionTitle"}}
    </div>
    <div class="form-group">
      <label for="bio">Bio</label>
      {{input value=bio id="bio"}}
    </div>
    <button {{action 'save4'}}>Save</button>
  </form>
{{else}}
  <button {{action 'authorFormShow'}}>New Author</button>
{{/if}}
