{{#if updateAuthorForm}}
  <h2>Update Author</h2>
  <form>
    <div class="form-group">
      <label for="fullName">Full Name</label>
      {{input value=fullName id="fullName" placeholder=post.fullName class="form-control"}}
    </div>
    <div class="form-group">
      <label for="positionTitle">Position Title</label>
      {{input value=positionTitle id="positionTitle" placeholder=post.positionTitle class="form-control"}}
    </div>
    <div class="form-group">
      <label for="bio">Bio</label>
      {{textarea value=bio id="bio" placeholder=post.bio class="form-control"}}
    </div>
    <button {{action 'update' author}} class="btn btn-primary">Save</button>
  </form>
{{else}}
  <button {{action "updateAuthorForm"}} class="btn btn-primary">Update Author</button>
{{/if}}
