<h1> {{model.title}} </h1>

{{update-post post=model update="update"}}
{{post-detail post=model destroyPost="destroyPost"}}

<h2>Comments</h2>
<ul>
  {{#each model.comments as |comment|}}
    {{comment-tile comment=comment updateComment="updateComment" destroyComment="destroyComment"}}
  {{/each}}
</ul>

<h2>Create a New Comment</h2>
{{new-comment saveComment="saveComment" post=model}}
